.pageheader {
    border-bottom: 0;
    margin-bottom: 0;
}

.mx-scrollcontainer .mx-placeholder .mx-layoutgrid .pageheader {
    margin-bottom: 0;
    padding-bottom: 0;
    background: transparent;
}
